In [8]:
import pandas as pd
from config import *
import requests

In [2]:
data_dir = '../data/'

# Merging

In [3]:
documents = [
    "openaq_baghdad_airnow_8839.csv",
    "openaq_baghdad_embassy_8887.csv",
    "openaq_bahrain_7479.csv",
    "openaq_doha_309834.csv",
    "openaq_dubai_2981155.csv",
    "openaq_kuwait_8103.csv",
    "openaq_kyrgyzstan_osh_state_university_2812567.csv",
    "openaq_tajikistan_dushanbe_8684.csv",
    "openaq_tajikistan_embassy_9769.csv",
    "openaq_turkmenistan_8170.csv",
    "openaq_uzbekistan_8881.csv"
]

In [4]:
countries = [
    "Baghdad Airnow",
    "Baghdad Embassy",
    "Bahrain",
    "Doha",
    "Dubai",
    "Kuwait",
    "Kyrgyzstan",
    "Tajikistan Dushanbe",
    "Tajikistan Embassy",
    "Turkmenistan",
    "Uzbekistan"
]

In [5]:
# Liste des numéros d'identité des sites
site_ids = [
    "8839",
    "8887",
    "7479",
    "309834",
    "2981155",
    "8103",
    "2812567",
    "8684",
    "9769",
    "8170",
    "8881"
]

In [12]:
num_sites = len(documents)
num_sites

11

In [7]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [9]:
for i in range(num_sites):
    site_id = site_ids[i]
    document = documents[i]
    site_name = countries[i]
    
    response = requests.get(
        url=f'https://api.openaq.org/v3/locations/{site_id}',
        headers={'X-API-Key': api_key}
    )
    json = response.json()
    lat = json['results'][0]['coordinates']['latitude']
    lon = json['results'][0]['coordinates']['longitude']

    data = pd.read_csv(data_dir + document)
    data['site_id'] = site_id
    data['site_name'] = site_name
    data['lat'] = lat
    data['lon'] = lon

    df = pd.concat([df, data])

In [10]:
df.head()

,value,utc,local,parameter,units,site_id,site_name,lat,lon
0,31.0,2019-10-28T19:00:00Z,2019-10-28T22:00:00+03:00,pm25,µg/m³,8839,Baghdad Airnow,33.3128,44.3615
1,44.0,2019-10-28T21:00:00Z,2019-10-29T00:00:00+03:00,pm25,µg/m³,8839,Baghdad Airnow,33.3128,44.3615
2,27.0,2019-10-28T22:00:00Z,2019-10-29T01:00:00+03:00,pm25,µg/m³,8839,Baghdad Airnow,33.3128,44.3615
3,20.0,2019-10-29T00:00:00Z,2019-10-29T03:00:00+03:00,pm25,µg/m³,8839,Baghdad Airnow,33.3128,44.3615
4,15.0,2019-10-29T01:00:00Z,2019-10-29T04:00:00+03:00,pm25,µg/m³,8839,Baghdad Airnow,33.3128,44.3615

In [11]:
df.shape

(358145, 9)

In [16]:
df['lat'].value_counts()

lat
26.204697    61747
29.292317    58745
41.367200    47804
33.298722    39592
37.941857    36078
38.579708    36043
38.557671    35976
33.312800    25345
25.333700    12085
40.537200     3137
25.092213     1593
Name: count, dtype: int64

In [17]:
df['lon'].value_counts()

lon
50.570833    61747
48.047679    58745
69.272500    47804
44.395917    39592
58.387945    36078
68.712176    36043
68.775917    35976
44.361500    25345
51.229530    12085
72.805310     3137
55.168125     1593
Name: count, dtype: int64

In [18]:
df.to_csv(data_dir + 'openaq_integrated.csv', index=False)